.container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  font-family: "poppins", sans-serif;
}
.text-center {
  text-align: center;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/barcelona-buildings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 32px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h6 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.secondary {
  background-color: #f8f8f8;
}
.embed {
  width: 100%;
  aspect-ratio: 12/9;
}

.margin-top-30 {
  margin-top: 30px;
}
.card {
  background-color: white;
  margin: 30px 0 0 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
  text-align: left;
}

.card-footer {
  padding: 0 30px 30px;
}
.btn {
  color: white;
  background-color: #462cb3;
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}
.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-first-narrower {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  width: 100%;
  display: block;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(/images/barcelona-city-layout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer ul {
  padding: 0;
  list-style: none;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

header a {
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 18px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .img-responsive {
  }
  main h3 {
    font-size: 30px;
  }

  .card-header .img-responsive {
    display: none;
  }

  .embed {
    aspect-ratio: 21/9;
  }
}
