.container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  font-family: "poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/barcelona-buildings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 32px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 18px;
  }
}
